@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
        --color-primary: #6F49DD;
        --color-secondry: #7289DA;
        --color-text-muted: #615F5F;
        --color-text-light: #ffffff;
        --color-button-accen: #0088CC;
        --color-button-muted: #7289DA;
        --color-dark: #000000;
        --color-bg-footer: #2B195A;
      }
}
